@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");
@import "/node_modules/bulma/bulma.sass";

html {
    overflow-y: auto !important;
}

body {
    background-image: url("./assets/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
