@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");
@import "../node_modules/bulma/bulma.sass";

html,
body {
    height: 100%;
}

html {
    background-image: url("./assets/background.svg");
    background-size: cover;
    overflow-y: auto !important;
}
